* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eff0f2;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

/* Navigation Bar Style */

.fas,
.far {
  height: 0.9rem;
  font-size: 0.8rem;
  width: 0.9rem;
  fill: black;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 1px 1px;
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.span-icons {
  height: 0.9rem;
}

#location-icon {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin-left: 2.7rem;
}

.fa-map-marker-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff0f2;
  border-radius: 5px;
  color: #c2c8ce;
  font-size: 0.8rem;
  height: 1.6rem;
  width: 1.6rem;
}

#location {
  color: #c2c8ce;
}

#location-city {
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

h1#title {
  font-size: 2.3rem;
  letter-spacing: -0.1rem;
}

.first-style {
  font-weight: 900;
  color: #4e50b8;
  display: inline-block;
}

.second-style {
  color: #f0916e;
  display: inline-block;
}

.nav-icons {
  display: flex;
  align-items: center;
}

ul.nav-icons {
  list-style: none;
  margin-right: 2.7rem;
  margin-bottom: 0;
}

ul.nav-icons > li {
  color: #c2c8ce;
  display: inline;
  margin: 0 0.7rem;
  font-size: 1.5rem;
}

.user-icons {
  color: #c2c8ce;
  height: 1.3rem;
  font-size: 1.3rem;
  width: 1.3rem;
}

/* Page's Main Section Style */

main {
  height: calc(100% - 60px);
  width: 100%;
}

.body-page {
  height: 100%;
  width: 100%;
}

.user-information {
  margin-top: 2.5%;
}

.user-profile {
  background-color: #fff;
  border-radius: 5px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15%;
}

.user-photo {
  max-width: 100%;
  width: 20%;
  height: auto;
  border-radius: 5px;
  margin-right: 5%;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 4%;
  justify-content: flex-start;
  width: 100%;
  height: 75%;
  min-width: 174px;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.account-info > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.custom-setting {
  color: #c2c8ce;
  font-size: 1.2rem;
}

.span-info {
  font-size: 0.9rem;
  font-weight: 700;
  color: #c2c8ce;
}

.inner-span-info {
  color: #4e50b8;
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

#info-line {
  border-bottom: 1px #eff0f2 solid;
  border-width: 100%;
  margin: 0;
}

#get-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4% 4%;
  width: 100%;
}

#get-premium > i.fa-heart {
  color: #f0916e;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 2%;
}

.premium-button {
  background-color: #4e50b8;
  border-radius: 5px;
  color: #fff;
  padding: 2% 10%;
  margin-left: 9%;
}

ul#menu-account {
  list-style: none;
  margin-top: 10%;
  height: 60%;
  padding-left: 2.5%;
}

ul#menu-account > li > i {
  color: #c2c8ce;
}

.list-account {
  color: #c2c8ce;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 2.5%;
}

/* Chat Row Style */

.chat-container {
  background-color: #fff;
  border-radius: 5px;
  height: calc(100% - 60px);
  margin: 2.5% 2.5% 0 1.5%;
  width: 71%;
}

#list-chat {
  width: 34%;
  height: 100%;
  border-right: 1px #eff0f2 solid;
  display: inline-block;
}

.header-chat {
  border-bottom: 1px #eff0f2 solid;
  width: 100%;
  height: 50px;
}

#scroll-list-chat {
  width: 100%;
  height: calc(100% - 105px);
  overflow-y: scroll;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

#scroll-list-chat::-webkit-scrollbar {
  display: none;
}

.chat-menu,
.small-chat-menu {
  width: 33.33%;
  height: 100%;
}

.menu-item-2 {
  border-left: 1px #eff0f2 solid;
  border-right: 1px #eff0f2 solid;
}

.footer-chat-list {
  width: 100%;
  height: 55px;
  border-top: 1px #eff0f2 solid;
}

#chat-detail {
  width: 66%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

.chat-img {
  border-radius: 5px;
  width: 15%;
  height: auto;
}

.bubble-chat {
  border-bottom: 1px #eff0f2 solid;
  width: 100%;
  height: 10vh;
}

.status-container {
  width: 90%;
}

.status-container > h5 {
  font-size: 0.95rem;
}

.buble-chat-text {
  font-size: 0.8rem;
  color: #c2c8ce;
}

.green-circle {
  border-radius: 100%;
  background-color: green;
  display: inline-block;
  height: 0.4rem;
  width: 0.4rem;
  margin-left: 5%;
}

div.chat-elipsis {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checked {
  color: #4e50b8;
}

/* Chat Detail Page */

.fa-sms {
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: #eff0f2;
}

@media screen and (max-width: 1024px) {
  .nav-icons,
  .user-information {
    display: none !important;
  }

  .small-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
  }

  .chat-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  #list-chat {
    width: 100%;
  }

  #chat-detail {
    display: none !important;
  }

  .header-chat {
    display: none !important;
  }

  #scroll-list-chat {
    height: calc(100% - 55px);
  }

  .bubble-chat {
    width: 90%;
    margin: 5%;
    height: 10vh;
    background-color: #fff;
    border-radius: 5px;
  }

  .chat-elipsis {
    width: 85%;
  }

  .chat-menu {
    display: none !important;
  }

  .footer-chat-list {
    background-color: #fff;
    position: relative;
  }

  .small-chat-menu {
    width: 20%;
    position: relative;
  }

  .small-footer-icon-bigger {
    position: absolute;
    background-color: #4e50b8;
    border-radius: 5px;
    color: white;
    width: 70%;
    height: 100%;
    font-size: 1.6rem;
    top: -25%;
    -webkit-box-shadow: 57px 63px 117px -8px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 57px 63px 117px -8px rgba(0, 0, 0, 0.43);
    box-shadow: 57px 63px 117px -8px rgba(0, 0, 0, 0.43);
  }

  .chat-elipsis > h5 {
    font-weight: 700;
  }

  .buble-chat-text {
    color: #000;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .small-header {
    display: none !important;
  }

  .user-information {
    width: 23%;
    height: calc(100% - 60px);
    margin-right: 1%;
    margin-left: 1%;
  }

  .small-chat-menu {
    display: none !important;
  }
}
