* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eff0f2;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

/* Navigation Bar Style */

.fas,
.far {
  height: 0.9rem;
  font-size: 0.8rem;
  width: 0.9rem;
  fill: black;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 1px 1px;
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.span-icons {
  height: 0.9rem;
}

#location-icon {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin-left: 2.7rem;
}

.fa-map-marker-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff0f2;
  border-radius: 5px;
  color: #c2c8ce;
  font-size: 0.8rem;
  height: 1.6rem;
  width: 1.6rem;
}

#location {
  color: #c2c8ce;
}

#location-city {
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

h1#title {
  font-size: 2.3rem;
  letter-spacing: -0.1rem;
}

.first-style {
  font-weight: 900;
  color: #4e50b8;
  display: inline-block;
}

.second-style {
  color: #f0916e;
  display: inline-block;
}

.nav-icons {
  display: flex;
  align-items: center;
}

ul.nav-icons {
  list-style: none;
  margin-right: 2.7rem;
  margin-bottom: 0;
}

ul.nav-icons > li {
  display: inline;
  margin: 0 0.7rem;
  font-size: 1.5rem;
  color: #c2c8ce;
}

.user-icons {
  color: #c2c8ce;
  height: 1.3rem;
  font-size: 1.3rem;
  width: 1.3rem;
}

/* Page's Main Section Style */

main {
  height: calc(100% - 60px);
  width: 100%;
}

.body-page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0;
}

.user-information {
  margin-top: 2.5%;
}

.user-profile {
  background-color: #fff;
  border-radius: 5px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15%;
}

.foto-section {
  border-radius: 5px;
  margin-top: 2.5%;
}

.user-photo {
  max-width: 100%;
  width: 20%;
  height: auto;
  border-radius: 5px;
  margin-right: 5%;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 4%;
  justify-content: flex-start;
  width: 100%;
  height: 75%;
  min-width: 174px;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.account-info > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.custom-setting {
  color: #c2c8ce;
  font-size: 1.2rem;
}

.span-info {
  font-size: 0.9rem;
  font-weight: 700;
  color: #c2c8ce;
}

.inner-span-info {
  color: #4e50b8;
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

#info-line {
  border-bottom: 1px #eff0f2 solid;
  border-width: 100%;
  margin: 0;
}

#get-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4% 4%;
  width: 100%;
}

#get-premium > i.fa-heart {
  color: #f0916e;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 2%;
}

.premium-button {
  background-color: #4e50b8;
  border-radius: 5px;
  color: #fff;
  padding: 2% 10%;
  margin-left: 9%;
}

.acquittances-info {
  margin: 2.5% 0;
}

ul#menu-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
  height: 60%;
  padding-left: 2.5%;
}

.list-account {
  color: #c2c8ce;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 2.5%;
}

/* Detail Page of Contact Style */

.current-profile-photo {
  position: relative;
  width: 11%;
}

.profile-photo {
  border-radius: 5px;
}

.circle {
  position: absolute;
  border-radius: 100%;
  background-color: #f0916e;
  color: white;
  font-size: 1rem;
  width: 33.333%;
  height: 33.333%;
  top: 33.333%;
  right: -15%;
}

div#galerie > .photos {
  border-radius: 5px;
  width: 11%;
}

.elipsis-i {
  color: #c2c8ce;
  font-size: 1.5rem;
  height: auto;
  margin-left: 1.5%;
}

.contact-photo {
  width: 100%;
  margin-top: 5%;
  border-radius: 5px;
  background-image: url('https://img.culturacolectiva.com/content/2017/12/21/1513881084568/buena-ortografia-medium.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
}

.distance {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
}

.fa-location-arrow {
  font-size: 1.2rem;
}

.distance-span {
  font-size: 1rem;
}

.link-photo {
  position: absolute;
  width: 0.5vw;
  height: 6vh;
  top: 2%;
  right: 2%;
}

.square {
  width: 100%;
  height: 19%;
  background-color: #a8a8a8;
}

.orange {
  background-color: #f0916e;
}

.contact-buttons {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 7vh;
}

.social-buttons {
  width: 10vw;
  height: 8vh;
}

#previous-button,
#next-button {
  border-radius: 5px;
  width: 3vw;
  height: 6vh;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
}

#prev,
#next {
  font-size: 1.4rem;
  color: #787878;
}

#like-button,
#dislike-button {
  border-radius: 5px;
  width: 4vw;
  outline: none;
  border: none;
}

#like-button {
  background-color: #4e50b8;
}

#heart {
  color: #fff;
  font-size: 1.4rem;
}

#dislike-button {
  background-color: #f0916e;
}

#no-heart {
  color: #fff;
  font-size: 1.4rem;
}

/* Contact Information Style */

.upgrade-account {
  border-radius: 5px;
  background-color: #fff;
  padding: 2%;
  width: 100%;
  margin-bottom: 2.5%;
}

.become-popular {
  width: 100%;
}

.become-popular > i,
.fa-crown {
  color: #f0916e;
  font-size: 1.6rem;
  margin-right: 1.6rem;
}

.become-span {
  color: #c2c8ce;
  font-weight: 700;
}

.become-header {
  color: #414464;
  font-weight: 500;
}

.purchase-anchor {
  background-color: #4e50b8;
  border-radius: 5px;
  font-weight: 600;
  padding: 1% 4%;
  width: 80%;
  text-align: center;
  color: #fff;
}

.fa-stream {
  font-size: 1.6rem;
  margin-right: 2%;
  width: 1.6rem;
  height: auto;
}

.contact-info {
  border-bottom: 1px #eff0f2 solid;
  padding: 3.2% 1%;
  width: 100%;
}

.contact-info > span {
  display: block;
  margin-bottom: 1%;
}

.contact-ns {
  width: 100%;
}

.contact-info > h5 {
  display: inline;
}

.green-circle {
  border-radius: 100%;
  background-color: green;
  height: 1vh;
  width: 2%;
}

#background-purple {
  background-color: #4e50b8;
  border-radius: 5px;
  height: 2.4rem;
  width: 2.4rem;
}

.fa-map-marked-alt {
  font-size: 1.3rem;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
}

.view-page {
  background-color: #eff0f2;
  border-radius: 5px;
  color: #c2c8ce;
  font-size: 0.9rem;
  border: none;
  outline: none;
  padding: 2% 5%;
  width: 75%;
  margin-bottom: 2%;
}

.margins {
  margin-bottom: 1.5%;
}

.contact-user {
  height: 16%;
}

.communicate {
  color: #f0916e;
  font-size: 3rem;
  width: 20%;
  height: 100%;
}

.text-comm {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  #navigation-bar {
    display: none !important;
  }

  .user-information {
    display: none;
  }

  .mini-photos,
  .up-acc-media-query,
  .filter {
    display: none !important;
  }

  .foto-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
  }

  .contact-photo {
    margin-top: 0;
    height: 100%;
  }

  .link-photo {
    width: 1.5vw;
  }

  .acquittances-info {
    height: 50vh;
    width: 100%;
  }

  .personal-information-contact {
    width: 100%;
    height: 100%;
  }

  .contact-buttons {
    bottom: -10%;
    height: 10vh;
  }

  .social-buttons {
    width: 10rem;
    height: 4rem;
  }

  #like-button,
  #dislike-button {
    width: 4rem;
  }

  #heart,
  #no-heart {
    font-size: 2.8rem;
    width: 2.8rem;
    height: 2.8rem;
  }

  #previous-button,
  #next-button {
    width: 3rem;
    height: 3rem;
  }

  #prev,
  #next {
    font-size: 2.6rem;
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .mini-photos {
    width: 100%;
    height: 10%;
  }

  .foto-section {
    width: 50%;
    height: calc(100% - 60px);
  }

  .contact-photo {
    height: 85%;
  }

  .new-container {
    width: 100%;
    height: 85%;
  }

  .name-contact {
    height: 17%;
  }

  .personal-info-contact {
    height: 60%;
  }

  .acquittances-info,
  .user-information {
    width: 23%;
    height: calc(100% - 60px);
    margin-right: 1%;
    margin-left: 1%;
  }

  .personal-information-contact {
    height: 90%;
  }
}
