* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eff0f2;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

/* Navigation Bar Style */

.fas,
.far {
  height: 0.9rem;
  font-size: 0.8rem;
  width: 0.9rem;
  fill: black;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 1px 1px;
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.span-icons {
  height: 0.9rem;
}

#location-icon {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin-left: 2.7rem;
}

.fa-map-marker-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff0f2;
  border-radius: 5px;
  color: #c2c8ce;
  font-size: 0.8rem;
  height: 1.6rem;
  width: 1.6rem;
}

#location {
  color: #c2c8ce;
}

#location-city {
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

h1#title {
  font-size: 2.3rem;
  letter-spacing: -0.1rem;
}

.first-style {
  font-weight: 900;
  color: #4e50b8;
  display: inline-block;
}

.second-style {
  color: #f0916e;
  display: inline-block;
}

.nav-icons {
  display: flex;
  align-items: center;
}

ul.nav-icons {
  list-style: none;
  margin-right: 2.7rem;
  margin-bottom: 0;
}

ul.nav-icons > li {
  color: #c2c8ce;
  display: inline;
  margin: 0 0.7rem;
  font-size: 1.5rem;
}

.user-icons {
  color: #c2c8ce;
  height: 1.3rem;
  font-size: 1.3rem;
  width: 1.3rem;
}

/* Page's Main Section Style */

main {
  height: calc(100% - 60px);
  width: 100%;
}

.body-page {
  height: 100%;
  width: 100%;
}

.user-information {
  margin-top: 2.5%;
}

.user-profile {
  background-color: #fff;
  border-radius: 5px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15%;
}

.user-photo {
  max-width: 100%;
  width: 20%;
  height: auto;
  border-radius: 5px;
  margin-right: 5%;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 4%;
  justify-content: flex-start;
  width: 100%;
  height: 75%;
  min-width: 174px;
}

.account-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  width: 80%;
}

.inline-span-icon > h2 {
  font-size: 1.3vw;
  font-weight: 600;
}

.custom-setting {
  color: #c2c8ce;
  font-size: 1.2vw;
}

.inline-span-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
}

.span-info {
  font-size: 1.7vh;
  font-weight: 700;
  color: #c2c8ce;
}

.inner-span-info {
  color: #4e50b8;
  text-decoration: underline;
  text-decoration-color: #c2c8ce;
}

#info-line {
  border-bottom: 1px #eff0f2 solid;
  border-width: 100%;
  margin: 0;
}

#get-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4% 4%;
  width: 100%;
}

#get-premium > i.fa-heart {
  color: #f0916e;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 2%;
}

.premium-button {
  background-color: #4e50b8;
  border-radius: 5px;
  color: #fff;
  padding: 2% 10%;
  margin-left: 9%;
}

a.anchor-get-premium {
  width: 40%;
}

a.anchor-get-premium:hover {
  text-decoration: none;
  cursor: pointer;
}

a.anchor-menu-list:active {
  text-decoration: none;
  cursor: grabbing;
}

a.anchor-menu-links:hover {
  text-decoration: none;
  cursor: pointer;
}

.search-by-users > i {
  width: 1vw;
  height: 1vw;
  font-size: 0.9vw;
}

.search-by-users > h2 {
  font-size: 0.9vw;
  margin: 0;
}

.fa-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6vw;
  height: 1.6vw;
  font-size: 0.7vw;
  font-weight: 500;
  padding: 0.4vw;
  background-color: #4e50b8;
  border-radius: 5px;
  color: #fff;
}

.fa-edit:hover {
  cursor: pointer;
}

ul#menu-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
  height: 60%;
  padding-left: 2.5%;
}

ul#menu-account > li,
ul#menu-account > li > a.anchor-menu-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul#menu-account > li {
  display: flex;
  justify-content: space-between;
}

.menu-links {
  width: 90%;
}

.list-account {
  color: #c2c8ce;
  font-size: 1vw;
  font-weight: 500;
  margin-left: 2.5%;
}

.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #c2c8ce;
  background-color: #e1e4e7;
  padding: 1.5% 4%;
}

.new-notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  background-color: #f0916e;
  padding: 1.5% 4%;
}

/* Chat Detail Pahe Style */

.chat-container {
  background-color: #fff;
  border-radius: 5px;
  height: calc(100% - 60px);
  margin: 2.5% 2.5% 0 1.5%;
  width: 71%;
}

#list-chat {
  width: 34%;
  height: 100%;
  border-right: 1px #eff0f2 solid;
  display: inline-block;
}

.header-chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #eff0f2 solid;
  width: 100%;
  height: 50px;
}

.search-by-users {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c8ce;
}

.search-by-users:hover {
  cursor: pointer;
}

#scroll-list-chat {
  width: 100%;
  height: calc(100% - 105px);
  overflow-y: scroll;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

#scroll-list-chat::-webkit-scrollbar {
  display: none;
}

.chat-menu,
.small-chat-menu {
  width: 33.33%;
  height: 100%;
}

.menu-item-2 {
  border-left: 1px #eff0f2 solid;
  border-right: 1px #eff0f2 solid;
}

.status-container > h5 {
  font-size: 0.95rem;
  display: inline;
}

.bubble-chat {
  display: flex;
  border-bottom: 1px #eff0f2 solid;
  width: 100%;
  height: 10vh;
}

a.anchor-bubble-chat {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

a.anchor-bubble-chat:hover {
  text-decoration: none;
  cursor: pointer;
}

a.anchor-bubble-chat > .chat-elipsis > .status-container > h5 {
  font-weight: 700;
  color: #000;
}

.footer-chat-list {
  width: 100%;
  height: 55px;
  border-top: 1px #eff0f2 solid;
}

#chat-detail {
  width: 66%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

.chat-img {
  border-radius: 5px;
  width: 15%;
  height: auto;
}

.status-container {
  width: 90%;
}

.buble-chat-text {
  font-size: 0.8rem;
  color: #c2c8ce;
}

.green-circle {
  border-radius: 100%;
  background-color: green;
  display: inline-block;
  height: 0.4rem;
  width: 0.4rem;
  margin-left: 5%;
}

div.chat-elipsis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checked {
  color: #4e50b8;
}

.online-text {
  font-size: 12px;
  color: #d3d3dd;
}

#scroll-chat-detail {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

#scroll-chat-detail::-webkit-scrollbar {
  display: none;
}

/* Chat Detail Page Style */

.chat-detail-pag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-phone-alt,
.fa-ellipsis-h {
  color: #c2c8ce;
  font-size: 0.95vw;
  width: 1vw;
  height: 1vw;
  margin: 0 3%;
}

.contact-chat-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-chat-title > h2 {
  font-size: 1.3vw;
}

.chat-conversation {
  box-sizing: border-box;
  width: 97%;
  height: fit-content;
  margin: 3% 1%;
  padding: 0 2%;
}

.img-conversation {
  width: 7%;
  border-radius: 100%;
}

.container-message {
  width: fit-content;
  background-color: #d1ddff;
  border-radius: 7px;
  padding: 2%;
  margin: 0 5%;
}

.user-message {
  background-color: #d1cbda;
}

.message-text {
  color: #414464;
  font-size: 12px;
}

#chat-writing-bar {
  width: 100%;
  height: 70px;
  border-top: 1px #eff0f2 solid;
}

#message-bar {
  width: 50%;
  padding: 1% 3%;
  margin: 0 6%;
  border-radius: 15px;
  outline: none;
  border: 1px solid #eff0f2;
}

.fa-smile {
  position: relative;
  left: -10%;
}

@media screen and (max-width: 1024px) {
  main {
    height: 100%;
    width: 100%;
  }

  header,
  .user-information,
  .small-header,
  #list-chat {
    display: none !important;
  }

  .chat-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .chat-detail-pag {
    background-color: #fff;
  }

  #chat-detail {
    width: 100%;
  }

  #scroll-chat-detail {
    height: calc(100% - 120px);
  }

  .fa-phone-alt,
  .fa-ellipsis-h {
    font-size: 2vh;
    width: 2.5vh;
    height: 2.5vh;
    margin: 0 5.5%;
  }

  .contact-chat-title > h2 {
    font-size: 2.8vh;
  }

  #chat-writing-bar {
    background-color: #fff;
  }

  .fa-smile {
    left: -12.5%;
  }
}

@media screen and (min-width: 1024px) {
  .small-header {
    display: none !important;
  }

  .user-information {
    width: 23%;
    height: calc(100% - 60px);
    margin-right: 1%;
    margin-left: 1%;
  }

  .small-chat-menu {
    display: none !important;
  }
}
