* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #d3d3d3;
  font-family: 'Fredoka One', cursive;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

/* Navigation Bar Style */

#navigation-bar {
  border-radius: 5px 5px 1px 1px;
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.span-icons {
  height: 0.9rem;
}

#location-icon {
  margin-left: 2.7rem;
}

#location {
  color: #d3d3d3;
}

#location-city {
  text-decoration: underline;
}

.fas,
.far {
  height: 0.9rem;
  font-size: 0.8rem;
  width: 0.9rem;
  fill: black;
}

.first-style {
  color: #4e50b8;
  display: inline-block;
  font-size: 1.5rem;
}

.second-style {
  color: #f0916e;
  display: inline-block;
  font-size: 1.5rem;
}

ul.nav-icons {
  list-style: none;
  margin-right: 2.7rem;
}

ul.nav-icons > li {
  display: inline;
  margin: 0 0.7rem;
  font-size: 1.5rem;
}

.user-icons {
  height: 1.3rem;
  font-size: 1.3rem;
  width: 1.3rem;
}

/* Page's Main Section Style */

main {
  height: calc(100% - 60px);
  width: 100%;
}

.body-page {
  height: 100%;
  width: 100%;
}

.user-information {
  margin-top: 2.5%;
}

.user-profile {
  background-color: #fff;
  border-radius: 5px;
}

.foto-section {
  border-radius: 5px;
  margin-top: 2.5%;
}

.user-photo {
  width: 35%;
  border-radius: 5px;
}

.user-info-wrapper {
  width: 65%;
  min-width: 174px;
}

.account-info {
  height: 50%;
}

.custom-setting {
  color: #d3d3d3;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.span-info {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #d3d3d3;
}

.inner-span-info {
  color: #4e50b8;
}

#info-line {
  border-bottom: 1px #d3d3d3 solid;
  border-width: 100%;
  margin: 0;
}

.fa-heart {
  color: red;
  font-size: 1rem;
}

.premium-button {
  background-color: #4e50b8;
  border-radius: 5px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 2px;
}

.acquittances-info {
  margin: 2.5% 0;
}

ul#menu-account {
  list-style: none;
  margin-top: 10%;
  height: 60%;
}

.list-account {
  margin-left: 1%;
}

/* Detail Page of Contact Style */

.current-profile-photo {
  position: relative;
  width: 11%;
}

.profile-photo {
  border-radius: 5px;
}

.circle {
  position: absolute;
  border-radius: 100%;
  background-color: #f0916e;
  color: white;
  font-size: 1rem;
  width: 33.333%;
  height: 33.333%;
  top: 33.333%;
  right: -15%;
}

div#galerie > .photos {
  border-radius: 5px;
  width: 11%;
}

.elipsis-i {
  color: gray;
  font-size: 1.5rem;
  height: auto;
  margin-left: 1.5%;
}

.contact-photo {
  width: 100%;
  margin-top: 5%;
  border-radius: 5px;
  background-image: url('https://img.culturacolectiva.com/content/2017/12/21/1513881084568/buena-ortografia-medium.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
}

.distance {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
}

.fa-location-arrow {
  font-size: 1.2rem;
}

.distance-span {
  font-size: 1rem;
}

.link-photo {
  position: absolute;
  width: 0.5vw;
  height: 6vh;
  top: 2%;
  right: 2%;
}

.square {
  width: 100%;
  height: 19%;
  background-color: #a8a8a8;
}

.orange {
  background-color: #f0916e;
}

.contact-buttons {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 7vh;
}

.social-buttons {
  width: 20%;
  height: 7vh;
}

#previous-button,
#next-button {
  border-radius: 5px;
  width: 3vw;
  height: 6vh;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
}

#prev,
#next {
  font-size: 1.4rem;
  color: #787878;
}

#like-button,
#dislike-button {
  border-radius: 5px;
  width: 3.5vw;
  outline: none;
  border: none;
}

#like-button {
  background-color: #4e50b8;
}

#heart {
  color: #fff;
  font-size: 1.4rem;
}

#dislike-button {
  background-color: #f0916e;
}

#no-heart {
  color: #fff;
  font-size: 1.4rem;
}

/* Contact Information Style */

.upgrade-account {
  border-radius: 5px;
  background-color: #fff;
  padding: 2%;
  width: 100%;
  margin-bottom: 2.5%;
}

.become-popular {
  width: 100%;
}

.become-popular > i,
.fa-crown {
  color: #f0916e;
  font-size: 1.6rem;
  margin-right: 1.6rem;
}

.become-span {
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.become-header {
  color: #414464;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.purchase-anchor {
  background-color: #4e50b8;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 1% 4%;
  width: 80%;
  text-align: center;
  color: #fff;
}

.fa-stream {
  font-size: 1.6rem;
  margin-right: 2%;
  width: 1.6rem;
  height: auto;
}

.contact-info {
  border-bottom: 1px #d3d3d3 solid;
  padding: 3.2% 1%;
  width: 100%;
}

.contact-info > span {
  display: block;
  margin-bottom: 1%;
}

.contact-ns {
  width: 100%;
}

.contact-info > h5 {
  display: inline;
}

.green-circle {
  border-radius: 100%;
  background-color: green;
  height: 1vh;
  width: 2%;
}

#background-purple {
  background-color: #4e50b8;
  border-radius: 5px;
  height: 2.4rem;
  width: 2.4rem;
}

.fa-map-marked-alt {
  font-size: 1.3rem;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
}

.view-page {
  background-color: #d3d3d3;
  border-radius: 5px;
  color: #414464;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  border: 1px #414464 solid;
  outline: none;
  padding: 2% 5%;
  width: 75%;
}

.margins {
  margin-bottom: 1.5%;
}

.communicate {
  color: #f0916e;
  font-size: 3rem;
  width: 30%;
}

@media screen and (max-width: 1200px) {
  #navigation-bar {
    display: none !important;
  }

  .user-information {
    display: none;
  }

  .mini-photos,
  .up-acc-media-query,
  .filter {
    display: none !important;
  }

  .foto-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
  }

  .contact-photo {
    margin-top: 0;
    height: 100%;
  }

  .acquittances-info {
    height: 50vh;
    width: 100%;
  }

  .personal-information-contact {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .mini-photos {
    width: 100%;
    height: 10%;
  }

  .foto-section {
    width: 50%;
  }

  .contact-photo {
    height: 60%;
  }

  .new-container {
    width: 100%;
    height: 60%;
    background-color: #4e50b8;
  }

  .acquittances-info,
  .user-information {
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .up-acc-media-query {
    margin-bottom: 5%;
  }

  .personal-information-contact {
    height: 90%;
  }
}
